<div class="shouye ng-scope">
  <!--云雾动效-->
  <div class="ntt_cloud loginCloud">
      <i class="ntt_cloundL1"></i>
      <!--<i class="ntt_cloundR2"></i>-->
      <i class="ntt_cloundR3"></i>
      <i class="ntt_cloundL4"></i>
      <i class="ntt_cloundL5"></i>
      <i class="ntt_cloundL6"></i>
  </div>
  <div class="ntt_cloudlogo loginCloud">
      <div class="ntt_logobox">
      </div>
  </div>
  <div class="ntt_loginPage">
    <div class="ntt-avtar float-l">
      <div class="ntt-avtar1">
        <div class="code"></div>
        <p>扫描下载APP <br>一键控制全局信息</p>
      </div>
      <div class="ntt-avtar2">
        <div class="code"></div>
        <p>更多信息扫描关注<br>农抬头微信公众平台</p>
      </div>
    </div>
    <div class="ntt_loginForm float-l">
      <h3>用户登陆</h3>
      <div class="ntt_loginBox">
        <div class="ntt-login-input ntt-login-username">
          <input type="text" placeholder="请输入用户名" class="ntt-login-user-input ng-pristine ng-untouched ng-valid" ng-model="basUserObj.User_LogName">
        </div>
        <div class="ntt-login-input ntt-login-password">
          <input type="password" placeholder="请输入密码" class="ntt-login-password-input ng-pristine ng-untouched ng-valid" ng-model="basUserObj.User_Password">
        </div>
        
        <div class="login-form-bottom">
          <button class="ntt-login-button" ng-click="login()" id="test">登  陆</button>
        </div>
      </div>
    </div>
  </div>
</div>